// Social

.social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    .footer-right-box & {
        justify-content: flex-end;
    }

    &__item {
        margin: 0 9px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-size: 18px;
        color: #999;
    }
}