// Variables

// Fonts
$font-montserat: 'Montserrat', sans-serif;

// Paths
$path-img: '../img/';

// Colors
$color-green: #7beec7;
$color-grey: #60606e;
$color-white: #fff;
$color-black: #000;

// Bootstrap variables overwrite
$primary: $color-green;